- if user_signed_in? and question.question_voters.where(user_id: current_user.id).last

  - votes = QuestionVoter.where(question_id: question.id).sum(:vote)
  - if question.question_voters.where(user_id: current_user.id).last.vote > 0
    = button_to "▲", room_question_questions_voters_path(:question_id => question.id, :vote => "upvote"), :method => :post, remote: :true, class: "glyphicon glyphicon-triangle-top upvote active vote", id: "upvote", label: "glyphicon glyphicon-triangle-top"

    .vote_count{:id => question.id}
      = votes
    = button_to "▼", room_question_questions_voters_path(:question_id => question.id, :vote => "downvote"), :method => :post, remote: :true, class: "glyphicon glyphicon-triangle-bottom downvote vote", id: "downvote"

  - else
    = button_to "▲", room_question_questions_voters_path(:question_id => question.id, :vote => "upvote"), :method => :post, remote: :true, class: "glyphicon glyphicon-triangle-top upvote vote", id: "upvote"
    .vote_count{:id => question.id}
      = votes
    = button_to "▼", room_question_questions_voters_path(:question_id => question.id, :vote => "downvote"), :method => :post, remote: :true, class: "glyphicon glyphicon-triangle-bottom downvote active vote", id: "downvote"

- elsif user_signed_in?
  = button_to "▲", room_question_questions_voters_path(:question_id => question.id, :vote => "upvote"), :method => :post, remote: :true, class: "glyphicon glyphicon-triangle-top upvote vote", id: "upvote", label: "glyphicon glyphicon-triangle-top"
  .vote_count{:id => question.id}
    = votes
  = button_to "▼", room_question_questions_voters_path(:question_id => question.id, :vote => "downvote"), :method => :post, remote: :true, class: "glyphicon glyphicon-triangle-bottom downvote vote", id: "downvote"

- else
  .vote_count{:id => question.id}
    = votes
