%h1
  Ask a question

= simple_form_for @questions do |f|
  = f.input :question
  = f.association :room, as: :hidden
  = f.input :user_id, as: :hidden, :input_html =>  {:value => current_user.id}
  = f.submit